* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}
.container {
  display: flex;
  width: 100vw;
  max-width: 100vw !important;
  padding: 40px !important;
}

.leftside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  height: 100%;
}
.rightside {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skills {
  display: flex;
  justify-content: space-evenly;
}

.profile {
  height: 100vh;
  width: 100%;
}

.card {
  margin-top: 20px;
}

.about {
}
.table-container {
  width: 60%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.log-container {
  width: 40%;
  height: 100%;
}

.cuadro {
  border: 1px solid black;
}

.card-project {
  display: flex;
}

.project-text {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
}
